doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title ヒ・ミ・ツ・の匿名掲示板❤
    link(rel="stylesheet", href="bootstrap.min.css")
  body.container
    .my-3
      a(href="/logout").btn.btn-info.float-end ログアウト
      h1 ヒ・ミ・ツ・の匿名掲示板❤
    hr
    h2 新規投稿
    form(method="post" action="/posts")
      .form-group
        textarea(name="content" rows=4).form-control
      .form-group.mt-1
        button(type="submit").btn.btn-primary 投稿
    hr
    h2 投稿一覧
    each post in posts
      .card.my-3
        .card-header
          - var isPostedByAdmin = (post.postedBy === 'admin')
          if isPostedByAdmin
            h3 #{post.id} : 管理人 ★
          else
            h3 #{post.id} : 
              code ID:#{post.trackingCookie}
        .card-body
          p!= post.content
        .card-footer
          p 投稿日時: #{post.formattedCreatedAt}
          - var isAdmin = (user === 'admin')
          if isAdmin
            p 投稿者: #{post.postedBy}
          - var isDeletable = (user === post.postedBy || isAdmin)
          if isDeletable
            form(method="post" action="/posts?delete=1")
              input(type="hidden" name="id" value=post.id)
              button(type="submit").btn.btn-danger.float-end 削除
    script(src="jquery.min.js")
    script(src="bootstrap.min.js")